<app-navbar></app-navbar>
<div class="about-me">
    <div>
        <h2>About Me</h2>
        <p>
            Hey! Thank you for checking out my page! I have experience working as a software engineer, 
            a quantitative and data analyst, and as a data science intern. Some of the tools that I have previously used include, but are
            not limited to, Sklearn, Tensorflow, Spark, Tableau, SQL, Django, Angular, and much more.
        </p>
        <p>
            I pride myself on being a good communicator, curious, and tenacious. When I'm not analyzing data, or coding in general,
            you can find me jogging, working on my software skills, and connecting with entrepreneurial minds.
        </p>
        <br>
        
        <p>
            Projects that I have completed include:
        </p>
        <ul>
            <li>Developing a proprietary and successful algorithm via Python to determine an optimal trading strategy for an investment fund.</li>
            <li>Creating an SQL query to supersede an old data-engineering pipeline that merged disparate datasets from GCP. 
                My query aggregated instances and performed calculations in such a way that reduced front-end load and wait-times substantially (~1/5th of the original wait time). </li>
            <li>Partnering with business teams to create Tableau dashboards to visualize a plethora of datasets.</li>
            <li>Creating a Data-cleaning stream via Python that helped a business unit input forecasts and apply version control by simply uploading an excel file. Results were shown in Tableau.</li>
            <li>Implemented a Convolutional Neural Network for classification of objects within video streams.</li>
        </ul>
        <br>
        <h2 class="contact">Contact</h2>
        <p>Feel free to email me at <i>kirillvklimov@gmail.com</i> or text/call me at <i>(+1)414-559-6025</i>.</p>

    </div>
</div>