.spark-body 
    margin-left:93px
    //padding-right: 93px
    margin-right: 93px
    //background-color: red
    margin-top: 72px
h2, h1
    font-family: "Mulish"

*
    font-size: 17px
    font-family: "Mulish","Nunito Sans" , sans

.img-container
    padding-top: 23px 
    text-align: center
    width: 100%
    margin: 0 auto
    margin-bottom: 63px
    //margin-left: auto 
    //margin-right: auto

#spark_read_show 
    width: 1040px

#spark_printSchema
    width: 345px

#spark_print_nulls 
    width: 734px

#spark_one_hot_encoder 
    width: 1061px
.img
    width: 100%

#spark_workout_type 
    width: 670px

#sql_query 
    width: 845px

#tableau_pic 
    width: 950px

#bpm_bmi_hist 
    width: 870px

#spark_corr 
    width: 243px

#corr_matrix 
    width: 500px

#pplot_all 
    width: 1200px

#unscaled_vec_1 
    width: 140px

#pearson_all
    width: 465px

#scaled_vector 
    width: 275px

#enumerate 
    width: 717px

#regression_fit 
    width: 525px

#evaluator 
    width: 760px

#r2_val 
    width: 490px
#scatter_predicted 
    width: 450px

#batch
    width: 754px

#write_batch 
    width: 560px

#stream_batches 
    width: 1106px

sup 
    font-size: 10px
#aggregate 
    width: 567px