<app-navbar></app-navbar>
<div class="stocks-body">
    <h1>Spark Project: Analysis</h1>
    <p><b>Purpose</b>: To display the functionality and workflow of Spark, and show visualization and modeling techniques.</p>

    <div class="inline-block">
        <p id="github-text">Find the entire code and explanation here:</p>
        &nbsp;
            <a href="https://github.com/kklimov1" class="image-button">
                <img src="assets/GitHub_Wordmark_Dark.png" alt="GitHub Logo" class="ghub-logo">
            </a>
    </div>
    
    <br>
    <h2>Intro</h2>
    <br>
    <p>
        Spark is an engine used for working with large-scale data workloads that supports multiple programming languages including Python, Scala, and SQL.
        A fundamental aspect of Apache Spark is its use of RDDs (or Resilient Distributed Datasets). An RDD 
        represents a collection of objects that are split across a cluster of machines that are typically referred to as nodes.
    </p>
    <div class="img-container">
        <img src="assets/sparkAnalysis/spark_read_show.png" class="img" id="spark_read_show">
    </div>
    <br> 
</div>